@model IEnumerable<iShop_ht.Models.I_class>
@{
    ViewBag.Title = "КОНТАКТЫ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ContentId">

    <div class="breadcrumbs">
        <a href="\">Главная</a> <span class="arrow"></span>
        <span>О Компании</span> <span class="arrow"></span>
    </div><!-- .breadcrumbs -->


    <h2>Гипер Трейд</h2>

    <p>Магазин компании "Гипер Трейд" был запущен в 2010 году. В настоящий момент наш каталог составляет более 5000 наименований.</p>

    <p>Основным направлением является продажа компьютеной техники и комплектующих к ней. На сегодняшний день ассортимент постоянно пополняется новыми товарами различных производителей.</p>

    <div class="line"></div>

    <h2>В каталоге Вы найдёте:</h2>

    <ul class="about_catalog__ul">
        @foreach (var node in Model.Where(n => n.Upcode == 0))
        {

            <li class="catalog__ul_li">

                @Ajax.ActionLink(@node.Name, "IndexClassPart", "Home", new { ClassId = @node.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })

            </li>

        }
    </ul>



    <p>Товары имеют заводскую гарантию. Возврат и обмен осуществляется в соответствии со статьей 26.1. Закона РФ «О защите прав потребителей».</p>

    <p><b>Самовывоз:</b> г. Москва, ул. Сущевский Вал, дом 5, стр. 1а, павильон F63, здание ТК «Савеловский Компьютерный».</p>

    <div class="line"></div>

    <h2>Доставка:</h2>

    <ul>
        <li>Москва и область: курьером, возможно в день заказа. Время доставки: с понедельника по субботу, с 10-00 до 18-00.</li>
        <li>Россия: EMS, "СДЭК".</li>
    </ul>

    <p>Доставка осуществляется только при 100% предоплате.</p>

    <div class="line"></div>

    <h2>Оплата:</h2>

    <ul>
        <li>наличный расчёт</li>
        <li>банковской картой</li>
        <li>на рассчётный счёт компании.</li>
    </ul>

    <p>Наши менеджеры всегда готовы дать исчерпывающие ответы на интересующие Вас вопросы по комплектующим, компьютерам в целом и их настройкам.</p>

    <div class="line"></div>

    <h2>О компании:</h2>

    <p>Продажа компьютерной техники, электроники и комплектующих, орг. техники для дома и офиса, гаджетов и различных товаров для дома, детей и отдыха. Гарантия. Самовывоз в г.Москва. Доставка по России. Наличный, безналичный расчёт. Работаем с физ. и юр. лицами</p>

    <div class="line"></div>

    <h2>Наши преимущества:</h2>

    <ul>
        <li>Большой выбор компьютерной техники и комплектующих</li>
        <li>Профессиональные консультанты</li>
        <li>Доставка в день заказа по Москве в пределах МКАД</li>
        <li>Доставка по всей России</li>
    </ul>

    <div class="line"></div>

    <h2>Дополнительная информация</h2>

    <ul>
        <li>Большой выбор компьютерной техники и комплектующих</li>
        <li>Профессиональные консультанты</li>
        <li>Доставка в день заказа по Москве в пределах МКАД</li>
        <li>Доставка по всей России</li>
    </ul>


    <div class="line"></div>
    <br />

    <h2>ИП Даудов Рустам Ховашевич</h2>
    <p>Юр.адрес: 143405, Московская область, город Красногорск, Красногорский бульвар</p>
    <p>ИНН 201401925138</p>
    <p>ОГРН 318505300051814</p> 
    <p>р/с 40802810638000090457 в ПАО Сбербанк г. Москва</p>
    <p>к/с 30101810400000000225</p>
    <p>БИК: 044525225</p>
    <br />
    <p>тел: 8 (495) 975-92-80, 8 (499) 558-08-99</p>
    <p>E-mail: Info@ht-comp.ru</p>

</div><!-- .ContentId -->