
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="entry">

    <div class="breadcrumbs">
        <a href="\">Главная</a> <span class="arrow"></span>
    </div><!-- .breadcrumbs -->

    <img class="alignleft" src="~/i/image.jpg" width="358" height="238" alt="" />
    <h2>Торговля в сфере компьютерной техники</h2>

    <p>Компания занимается оптово-розничной торговлей в сфере компьютерной техники.</p>

    <p>Каталог компании составляет более 5000 наименований номенклатуры.</p>

    <p>Гипер Трейд имеет несколько павильонов на Савеловском рынке. В конце 2010 года был запущен интернет магазин. Мы популярны не только среди частных покупателей, но и среди организаций. Наши менеджеры всегда готовы дать исчерпывающие ответы на интересующие вас вопросы по комплектующим, компьютерам в целом и их настройкам. На сегодняшний день ассортимент постоянно пополняется новыми товарами различных производителей. В нашем интернет магазине вы найдете огромный ассортимент комплектующих, по достойным ценам.</p>

    <p>Компания занимается оптово-розничной торговлей в сфере компьютерной техники. Каталог компании составляет более 5000 наименований номенклатуры.Гипер Трейд имеет несколько павильонов на Савеловском рынке.</p>

    <div class="line"></div>

    <h3>Мы популярны не только среди частных покупателей</h3>

    <p>Мы популярны не только среди частных покупателей, но и среди организаций. Наши менеджеры всегда готовы дать исчерпывающие ответы на интересующие вас вопросы по комплектующим, компьютерам в целом и их настройкам. На сегодняшний день ассортимент постоянно пополняется новыми товарами различных производителей. В нашем интернет магазине вы найдете огромный ассортимент комплектующих, по достойным ценам.</p>

    <p>Компания занимается оптово-розничной торговлей в сфере компьютерной техники. Каталог компании составляет более 5000 наименований номенклатуры.Гипер Трейд имеет несколько павильонов на Савеловском рынке. В конце 2010 года был запущен интернет магазин. Мы популярны не только среди частных покупателей, но и среди организаций. Наши менеджеры всегда готовы дать исчерпывающие ответы на интересующие вас вопросы по комплектующим, компьютерам в целом и их настройкам.</p>

    <p>На сегодняшний день ассортимент постоянно пополняется новыми товарами различных производителей. В нашем интернет магазине вы найдете огромный ассортимент комплектующих, по достойным ценам.</p>

    <blockquote class="alignright">
        <p>При получении товара необходимо проверить его на механические повреждения, следы воды или других жидкостей, следы перегрева или иного термического воздействия. В дальнейшем, если изделие выйдет из строя, наш гарантийный отдел не сможет его принять при наличии этих признаков.</p>
    </blockquote>

    <h3>Стоимость доставки зависит от ее способа и условий:</h3>

    <ul>
        <li>доставка по Москве курьером, в пределах МКАД весом не более 25кг стоимость 400р</li>
        <li>доставка за МКАД будет рассчитываться 400 рублей + 40 рублей за каждый километр от МКАД.</li>
        <li>доставка по Москве и Московской области весом более 25кг стоимость от 600р (уточняется у менеджера при оформлении заказа)</li>
        <li>доставка в регионы осуществляется при 100% предоплате.</li>
    </ul>

    <p>Доставка осуществляется силами курьерской службы нашего магазина.Время доставки с 10:00 до 19:00 с понедельника - по пятницу, если Вас не устраивает это время. сообщите нам и мы попробуем решить эту проблему.</p>

    <div class="line"></div>

  

    <p>Компания занимается оптово-розничной торговлей в сфере компьютерной техники. Каталог компании составляет более 5000 наименований номенклатуры.Гипер Трейд имеет несколько павильонов на Савеловском рынке. В конце 2010 года был запущен интернет магазин. Мы популярны не только среди частных покупателей, но и среди организаций. Наши менеджеры всегда готовы дать исчерпывающие ответы на интересующие вас вопросы по комплектующим, компьютерам в целом и их настройкам.</p>

    <p>Доставка товаров до Московского терминала ТК весом не более 25кг стоимость 400р, весом более 25кг стоимость от 600р (уточняется у менеджера при оформлении заказа). Стоимость доставки будет включена менеджером в счет на оплату товара. Услуги транспортных компаний оплачиваются клиентом при получении товара.</p>

    <h4>Нумерованный список:</h4>

    <ol>
        <li>доставка по Москве курьером, в пределах МКАД весом не более 25кг стоимость 400р</li>
        <li>доставка за МКАД будет рассчитываться 400 рублей + 40 рублей за каждый километр от МКАД.</li>
        <li>доставка по Москве и Московской области весом более 25кг стоимость от 600р (уточняется у менеджера при оформлении заказа)</li>
        <li>доставка в регионы осуществляется при 100% предоплате.</li>
    </ol>

    <h5>Доставка товаров до Московского терминала</h5>

    Доставка товаров до Московского терминала ТК весом не более 25кг стоимость 400р, весом более 25кг стоимость от 600р (уточняется у менеджера при оформлении заказа). Стоимость доставки будет включена менеджером в счет на оплату товара. Услуги транспортных компаний оплачиваются клиентом при получении товара.

</div><!-- .entry -->
