
<div class="breadcrumbs">
    <a href="\">Главная</a> <span class="arrow"></span>
    <span>ГАРАНТИЯ</span> <span class="arrow"></span>
</div><!-- .breadcrumbs -->

<h2>Для физических лиц</h2>
<h3>обмена и возврата товара надлежащего качества, приобретённого через интернет-магазин.</h3>
<br />
<ol>
    <li>Вы вправе отказаться от товара в любое время до его передачи, а после передачи товара — в течение 7 (семи) календарных дней в соответствии со статьей 26.1. Закона РФ «О защите прав потребителей». Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (в том числе ярлыки, пломбы, упаковка и т.п.), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарный чеки, гарантийное обязательство). При отказе от переданного Вам товара надлежащего качества в течение указанного выше срока, стоимость оказанных услуг, включая услугу по доставке, — не подлежит возврату.</li>
    <li>Покупатель не вправе возвратить товары надлежащего качества, указанные в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55. В том числе «технически сложные товары», если они по каким-либо причинам не подошли покупателю и при этом не имеют недостатков: электробытовые машины и приборы, бытовая радиоэлектронная аппаратура (в том числе, телевизоры, моноблоки, акустические системы и т.д.), бытовая вычислительная и множительная техника, фото- и киноаппаратура, телефонные аппараты и факсимильная аппаратура и т.д.</li>
</ol>
<h3>Условия обмена, возврата и ремонта товара ненадлежащего качества.</h3>
<ol>
<br />
<li>Обмен или возврат товаров ненадлежащего качества, производится в течение 14 дней после покупки, при условии отсутствия механических повреждений устройств и при наличии полного комплекта поставки по адресу: Сущевский Вал, дом 5, стр. 1а, пав. F63, cо вторника по субботу с 10-00 до 18-00.<</li>>

<li>После 14 дней со дня покупки, при обнаружении неисправности у товара, обслуживаемого сервисным центром производителя, Вам необходимо обратиться в соответствующий сервисный центр производителя.</li>

<li>После 14 дней и до окончания гарантийного срока, указанного в фирменном гарантийном талоне нашего магазина, если товар оказался неисправным, Вам необходимо обратиться в гарантийный отдел нашего магазина по адресу: Сущевский Вал, дом 5, стр. 1а, пав. F63, cо вторника по субботу с 10-00 до 18-00.</li>
<ol>
    <h2>Для юридических лиц и индивидуальных предпринимателей</h2>
    <br />
    <ol>
        <li>Обмен и возврат технически сложного товара надлежащего качества для Вас, как для юридического лица, не предусмотрен действующим законодательством.</li>

        <li>Отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за товар денежной суммы или потребовать замены товара ненадлежащего качества Вы можете только в случае существенного нарушения требований к качеству товара (обнаружения неустранимых недостатков, недостатков, которые не могут быть устранены без несоразмерных расходов или затрат времени, или выявляются неоднократно, либо проявляются вновь после их устранения, и других подобных недостатков). Существенное нарушение качества товара должно быть подтверждено заключением (актом и др.) сервисного центра.</li>

        <li>В иных случаях, при наличии гарантийного обязательства продавца или производителя, Вы имеете право на гарантийный ремонт товара.</li>
    </ol>

