
@{
    ViewBag.Title = "ОПЛАТА";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ContentId">


    <div class="breadcrumbs">
        <a href="\">Главная</a> <span class="arrow"></span>
        <span>Оплата</span> <span class="arrow"></span>
    </div><!-- .breadcrumbs -->

    <h1 class="page-title">Для физических лиц</h1>

    <h2>Наличный расчет</h2>
    <div class="li_circle">
        <ol>
            <li>Оплата наличными возможна, при доставке товара курьером по Москве, Московской области или самовывозе в пункте выдачи заказов.</u>.<br></li>
            <li>При оплате заказа, клиент получаете кассовый чек с QR-кодом, товарную накладную/гарантийный талон.<br></li>
        </ol>
    </div>

    <h2>Банковские пластиковые карты</h2>
    <div class="li_circle">
        <ol>
            <li>Оплата банковскими картами возможна, при самовывозе, в пункте выдачи заказов.</u>.<br></li>
            <li>При оплате заказа, клиент получаете кассовый чек с QR-кодом, чек из PoS-терминала, товарную накладную/гарантийный талон.<br></li>
        </ol>
    </div>

    <h2>Банковский перевод по реквизитам или по QR-коду</h2>
    <div class="li_circle">
        <ol>
            <li>Оплата товара банковским переводом или по QR-коду возможна после оформления заказа на сайте магазина, менеджером будет сформирован счет на оплату и инструкция по оплате и отправлены вам по электронной почте.</u>.<br></li>
            <li>При получении заказа, клиент получаете товарную накладную/гарантийный талон.<br></li>
        </ol>
    </div>

    <br />

    <h1 class="page-title">Для юридических лиц и индивидуальных предпринимателей</h1>

    <h2>Безналичный расчет</h2>
    <div class="li_circle">
        <ol>
            <li>Оплата товара по безналичному расчету возможна, после оформления заказа на сайте магазина или отправки заявки, с реквизитами компании, на почту <a href="mailto:info@ht-comp.ru" style="color:blue;">info@ht-comp.ru</a>, нашим менеджером будет сформирован счет на оплату и отправлен вам по электронной почте.</u>.<br></li>
            <li>При выставлении счета на оплату заказа по безналичному расчету, для юридических лиц и индивидуальных предпринимателей, стоимость товара увеличивается на 10%, от цены заявленной на сайте магазина.<br></li>
            <li>При получении заказа, клиент получаете оригинал счета, товарную накладную по унифицированной форме ТОРГ-12, гарантийный талон.<br></li>
        </ol>
    </div>


</div><!-- .ContentId -->